
<ul class="social_footer">
  {% if site.microblog_url %}
  <li><a href="{{ site.microblog_url }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>      
  {% endif %}
  {% if site.qzone_url %}
  <li><a href="{{ site.qzone_url }}" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>      
  {% endif %}
</ul>
